.my-section-card {
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;

    .my-card {
        width: calc(100% / 6 - 20px);
        margin: 0px 10px;
        padding: 10px;

        h6 {
            padding-top: 10px;
        }

        .my-card-img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            aspect-ratio: 1;


        }
    }

}