.logo-header img {
    width: 81px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.nav-header {

    ul {

        li {
            list-style-type: none;
            padding-left: 20px;
            font-size: 0.8rem;
            text-transform: uppercase;
            font-weight: bold;

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.search input[type="text"] {
    width: 70%;
}

.search input[type="text"]:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid blue;
}